:root {
    --white-color: #fff;
    --black-color: #000;
    /* màu chữ đỡ mỏi mắt */
    --text-color: #333; 

}

* {
    /* ??? quên */
    box-sizing: inherit;
}

html {
    /* biến 1 rem = 10px dó 100% là 16px */
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animtion */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1  ;
    }
}