.text-bold {
    font-weight: 400 !important;
}

.right-separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #00b975;
    right: -9px;
    /* 50% của thẻ li */
    top: 50%;
    /* -50% chiều cao của chính nó */
    transform: translateY(-50%);
}

.header {
    height: 120px;
    background-image: linear-gradient(0,#00b975,#029761);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
} 

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18%;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-link {

}

.qr-show:hover .header__qr {
    display: block;
}

/* Header notification */
.header__navbar-item--has-noti:hover .header__noti {
    display: block;
}

.header__noti {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotiGrow ease-in .2s;
    /* nói cho trình duyệt biết có thuộc tính gì sẽ thay đổi *khi sử dụng animation */
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotiGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__noti::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top:-29px;
    
}

.header__noti::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    right: 0;
    top: -10%;
    /* background-color: #00b975; */
}
.header__noti-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__noti-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;  
    line-height: 40px;  
    margin-left: 12px;
}

.header__noti-list {
    padding-left: 0;

}

.header__noti-item {
    display: flex;
}

.header__noti-item:hover {
    background-color: #ccc;
}

.header__noti-item--viewed {
    background-color: rgba(2, 151, 97, 0.25);
}

.header__noti-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}


.header__noti-img {
    width: 48px;
    object-fit: contain;
}

.header__noti-info {
    margin-left: 12px;
}

.header__noti-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__noti-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__noti-footer {
    display: flex;
}

.header__noti-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.header__noti-footer-btn:hover {
    text-decoration: underline;
}

/* Authen modal */
.auth-form {
    width: 500px;
    /* max-width: 100%; */
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border: 1px solid #777;
}

.auth-form__aside {
    margin: 18px 4px 0;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    margin-top: 22px;
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-google {
    color: #666;
}

.auth-form__socials-google
.auth-form__socials-icon {

}

.auth-form__socials-text {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help 
.auth-form__text-link {
    font-size: 1.4rem;
}

.auth-form__help 
.auth-form__text-link:nth-child(3) {
    color: var(--text-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px;
}