.text-bold {
    font-weight: 400 !important;
}

.right-separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    border-left: 1px solid #00b975;
    right: -9px;
    /* 50% của thẻ li */
    top: 50%;
    /* -50% chiều cao của chính nó */
    transform: translateY(-50%);
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#00b975,#029761);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);

}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
}

.header__navbar-user:hover
.header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400; 
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 10px);
    right: 0;
    width: 160px;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top:-29px;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #e6e5e5;
    cursor: pointer;
}

.header__navbar-user-item a:first-child {
    margin-top: 8px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
} 

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in .3s;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 18%;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-link {

}

.qr-show:hover .header__qr {
    display: block;
}

/* Header notification */
.header__navbar-item--has-noti:hover .header__noti {
    display: block;
    z-index: 1;
}

.header__noti {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotiGrow ease-in .2s;
    /* nói cho trình duyệt biết có thuộc tính gì sẽ thay đổi *khi sử dụng animation */
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotiGrow {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__noti::before {
    content: "";
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top:-29px;
    
}

.header__noti::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    right: 0;
    top: -10%;
    /* background-color: #00b975; */
}
.header__noti-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__noti-header h3 {
    color: #999;
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;  
    line-height: 40px;  
    margin-left: 12px;
}

.header__noti-list {
    padding-left: 0;

}

.header__noti-item {
    display: flex;
}

.header__noti-item:hover {
    background-color: #ccc;
}

.header__noti-item--viewed {
    background-color: rgba(2, 151, 97, 0.25);
}

.header__noti-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}


.header__noti-img {
    width: 48px;
    object-fit: contain;
}

.header__noti-info {
    margin-left: 12px;
}

.header__noti-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__noti-description {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 4px;
}

.header__noti-footer {
    display: flex;
}

.header__noti-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.header__noti-footer-btn:hover {
    text-decoration: underline;
}

/* Authen modal */
.auth-form {
    width: 500px;
    /* max-width: 100%; */
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {

}

.auth-form__group {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border: 1px solid #777;
}

.auth-form__aside {
    margin: 18px 4px 0;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    margin-top: 22px;
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials-facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-google {
    color: #666;
}

.auth-form__socials-google
.auth-form__socials-icon {

}

.auth-form__socials-text {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help 
.auth-form__text-link {
    font-size: 1.4rem;
}

.auth-form__help 
.auth-form__text-link:nth-child(3) {
    color: var(--text-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px;
}

/* Header with search */
.header-with-search {
    height: calc(var(--header-with-search-height));
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__cart-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__cart-select:hover 
.header__search-option {
    display: block;
}

.header__cart-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__cart-select-icon {
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 0.2px
}

.header__search-option {
    background-color: var(--white-color);
    position: absolute;
    right: 0;
    top: 130%;
    width: 130px;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 50%;
    /* background-color: #00b975; */
    top: -30px;
    left: 0;
}

.header__search-option-item {
    padding: 8px 8px;
    list-style: none;
}


.header__search-option-item:first-child
.header__search-option-item:last-child {
    border-radius: 2px;
}


.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn-icon {
    color: var(--white-color);
    font-size: 1.6rem;
}

.header__search-btn:hover {
    background-color: rgb(45, 173, 126);
    cursor: pointer;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
}

.header__cart-wrap:hover 
.header__cart-list {
    display: block;
}

.header__cart-icon {
    color:  var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
    cursor: pointer;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease 0.2s;
    display: none;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 8px;
    top: -20px;
    border-width: 12px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-card-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__cart-no-card-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    color: var(--text-color);
    margin-top: 14px;
    font-size: 1.4rem;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    top: -5px;
    right: -6px;
}


/* Search history */
.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    background-color: var(--white-color);
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover {
    background-color: #FAFAFA;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

/* Cart item */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-infor {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price-wrap {

}

.header__cart-item-price {
    color: var(--primary-color);
    font-weight: 400;
}

.header__cart-item-mul,
.header__cart-item-qnt {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    color: #757575;
    font-style: 1.3rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: #5e5c5c;
    font-style: 1.4rem;
    font-weight: 400;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: rgba(2, 151, 97, 0.9);;
}

/* App container */
.app__container {
    background-color: #F5F5F5;

}

.app_content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    
}

.category-list {
    padding: 0 0 6px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {
    
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    left: 8px;
    top: calc(50%);
    transform: translateY(-50%);
}

.category-item__link {
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    display: block;
    right: 0;

}

.category-item__link:hover {
    color: var(--primary-color);
    transition: right linear 0.1s;
    right: -4px;
}

/* Home sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 12px 22px;
}

.home-filter__btn {
    margin-right: 12px;
    width: 90px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__paginate {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable
.home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

